# Unreal Engine intermediate files
Binaries/
DerivedDataCache/
Intermediate/
Saved/
ParagonCountess/
# VS files
.vscode/
.vs/
*.VC.db
*.sln

# temp
# temp
# temp
# temp
Content/MsPack
Content/Skin
Content/Fab
# Mac-specific
.DS_Store

# Ignore build output
Build/
