# Unreal Engine intermediate files
Binaries/
DerivedDataCache/
Intermediate/
Saved/
ParagonCountess/
# VS files
.vscode/
.vs/
*.VC.db
*.sln

Content/MsPack
Content/Skin

# Mac-specific
.DS_Store

# Ignore build output
Build/
