# Ignore build and intermediate files
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Content/
.vs/
*.VC.db
*.VC.opendb
*.suo

# Ignore IDE project files (can be regenerated)
*.sln
*.xcodeproj
*.xcworkspace
*.htm
# Ignore platform-specific files
.DS_Store
Thumbs.db

# Ignore crash reports
*.dmp
*.log
*.editorconfig
shadertoolsconfig.json
*.vsconfig
